    mysql -u root -p  #-u --> option (user) -p --> password
    password: (enter)
    
    mysql shell 
    
    and enter bcz the present password of root is empty

##### Data Types in Mysql

    create table table_name(col_name1 datatype, col_name2 datatype, ......)

    Student 
    
        1. sid
        2. name
        3. age
        4. course
        
        
    Hackerrank SQL questions....

    char --> fix
    varchar --> variable
    
    address char(100)             address varchar(100)
    A-47, Malviya Nagar           A-47, Malviya Nagar
    
    100-18 = 82                   100-18 = 82(it will release 82 char to give other people
    (Useless)                              to use)
     It will not 
     release

In [1]:
100-18

82

### Aggregate Functions

    1. avg
    2. count --> counting number of not null rows/column
    3. max
    4. min
    5. sum

    #### Fees Table 
    
        Fid --> primary key
        Sid --> foreign key --> student
        fees 
        paid
        discount
        
        
    #### Address Table
        
        Aid --> primary key 
        Sid --> Foreign key 
        street
        city
        state