In [1]:
file = open("active-cases-by-stat-india-covid-19-analysis-QueryResult.csv")
data = []
for i in file :
    data.append(i[:-1].split(","))

In [4]:
import pymysql as sql
db = sql.connect(host="localhost", port=3306, user='root', password='', database="covid")
cursor = db.cursor()

In [5]:
cursor.execute('CREATE TABLE COVID_DATA (state_name nvarchar(50), today int, yesterday int, case_variance int, growth_percentage float)')

0

In [6]:
data

[['state_name', 'today', 'yesterday', 'case_variance', 'growth_percentage'],
 ['Jammu and Kashmir', '37302', '34567', '2735', '0.07332046539059568'],
 ['Himachal Pradesh', '23572', '21788', '1784', '0.07568301374512133'],
 ['Punjab', '61935', '60709', '1226', '0.01979494631468475'],
 ['Chandigarh', '8170', '7943', '227', '0.027784577723378213'],
 ['Uttarakhand', '56627', '55436', '1191', '0.021032369717625867'],
 ['Haryana', '108830', '104722', '4108', '0.03774694477625655'],
 ['Delhi', '90419', '89592', '827', '0.009146307745053584'],
 ['Rajasthan', '197045', '194371', '2674', '0.013570504199548326'],
 ['Uttar Pradesh', '272568', '285832', '-13264', '-0.04866308590883743'],
 ['Bihar', '110431', '107668', '2763', '0.02502014832791517'],
 ['Sikkim', '1930', '1723', '207', '0.10725388601036269'],
 ['Arunachal Pradesh', '1632', '1536', '96', '0.058823529411764705'],
 ['Nagaland', '1798', '1584', '214', '0.11902113459399333'],
 ['Manipur', '2391', '2071', '320', '0.13383521539104978'],
 ['Mizoram', '1609', '1427', '182', '0.11311373523927906'],
 ['Tripura', '1905', '1725', '180', '0.09448818897637795'],
 ['Meghalaya', '2019', '1884', '135', '0.06686478454680535'],
 ['Assam', '29407', '27824', '1583', '0.05383072057673343'],
 ['West Bengal', '120946', '119961', '985', '0.008144130438377457'],
 ['Jharkhand', '59707', '59675', '32', '0.0005359505585609727'],
 ['Odisha', '67437', '65400', '2037', '0.030205970016459808'],
 ['Chhattisgarh', '124459', '120977', '3482', '0.02797708482311444'],
 ['Madhya Pradesh', '86639', '85750', '889', '0.010260967924375858'],
 ['Gujarat', '148297', '147499', '798', '0.005381093346460144'],
 ['Dadra and Nagar Haveli and Daman and Diu',
  '1606',
  '1670',
  '-64',
  '-0.039850560398505604'],
 ['Maharashtra', '644068', '659013', '-14945', '-0.023204071619766856'],
 ['Andhra Pradesh', '159597', '151852', '7745', '0.048528481111800345'],
 ['Karnataka', '464383', '444754', '19629', '0.04226898917488366'],
 ['Goa', '26731', '25839', '892', '0.03336949609068123'],
 ['Lakshadweep', '1165', '1206', '-41', '-0.0351931330472103'],
 ['Kerala', '357215', '346230', '10985', '0.030751788138795963'],
 ['Tamil Nadu', '125230', '123258', '1972', '0.015747025473129443'],
 ['Puducherry', '10849', '10614', '235', '0.021660982579039544'],
 ['Andaman and Nicobar Islands', '232', '230', '2', '0.008620689655172414'],
 ['Telangana', '77704', '79520', '-1816', '-0.02337074024503243'],
 ['Ladakh', '1374', '1283', '91', '0.06622998544395925']]

In [7]:
for a,b,c,d,e in data[1:]:
    cmd = f"insert into covid_data(state_name, today, yesterday, case_variance, growth_percentage) values('{a}', {b}, {c}, {d}, {e})"
    cursor.execute(cmd)
    db.commit()  # permanently save
    print("\n Data inserted successfully.....")

 Data inserted successfully.....

 Data inserted successfully.....

 Data inserted successfully.....

 Data inserted successfully.....

 Data inserted successfully.....

 Data inserted successfully.....

 Data inserted successfully.....

 Data inserted successfully.....

 Data inserted successfully.....

 Data inserted successfully.....

 Data inserted successfully.....

 Data inserted successfully.....

 Data inserted successfully.....

 Data inserted successfully.....

 Data inserted successfully.....

 Data inserted successfully.....

 Data inserted successfully.....

 Data inserted successfully.....

 Data inserted successfully.....

 Data inserted successfully.....

 Data inserted successfully.....

 Data inserted successfully.....

 Data inserted successfully.....

 Data inserted successfully.....

 Data inserted successfully.....

 Data inserted successfully.....

 Data inserted successfully.....

 Data inserted successfully.....

 Data inserted successfully.....

 Data inserted successfully.....

 Data inserted successfully.....

 Data inserted successfully.....

 Data inserted successfully.....

 Data inserted successfully.....

 Data inserted successfully.....

 Data inserted successfully.....