In [11]:
import pymysql as sql

def connectivity():
    db = sql.connect(host="localhost",user='root',port=3306, password="", database="python_ahm")
    cursor = db.cursor()
    return db,cursor
        
def select(table_name,cursor):
    cmd = f"select * from {table_name}"
    cursor.execute(cmd)
    data = cursor.fetchall()
    for i in data:
        for j in i:
            print(j,end = "   |   ")
        print()
            
def insert(db,cursor):
    while input("Press any key to continue --> "):
        name = input("\n Name --> ")
        course = input("\n Course --> ")
        age = input("\n Age --> ")
        cmd = f"insert into student(name, course, age) values('{name}', '{course}', {age})"
        cursor.execute(cmd)
        db.commit()
        print("\n Data Inserted Succesfully...")
            
def show_sid(cursor):
    cmd = "select sid from student"
    cursor.execute(cmd)
    data = cursor.fetchall()
    for i in data:
        print(i[0],end = ", ")
        
def update(db,cursor):
    print("Column --> Student Name,Course & Age...")
    column_name = input("Enter Column name which you wants to update --> ")
    value = input("Enter Value to update --> ")
    show_sid(cursor)
    sid = int(input("\n Choose any id from above : "))
    if column_name == "name": 
        cmd = f"update student set {column_name}={value} where sid={sid}"
    else:
        cmd = f"update student set {column_name}='{value}' where sid={sid}"
    cursor.execute(cmd)
    db.commit()
    print(f"\n Successfully Updated the column {column_name}")
    
while True:
    print("\n1. Student \n2. Exit \n")
    ch = int(input("\n Choose Any Option from above --> \n"))
    db, cursor = connectivity()
    if ch == 1:
        print("\n WELCOME IN STUDENT TABLE!")
        while True:
            option = int(input("\n1. Select\n2. Insert\n3. Update\n4. Exit \n"))
            if option == 1:
                select("student", cursor)
            elif option == 2:
                insert(db, cursor)
            elif option == 3:
                update("student", cursor)
            elif option == 4:
                print("\nExit...Thank You...")
                db.close()
                break
    elif ch == 2:
        print("\n ThankYou for using our service")
        break
    else:
        print("\n Invalid Choice.....")

1. Student
2. Exit


 Choose Any Option from above -->
1

 WELCOME IN STUDENT TABLE!

1. Select
2. Insert
3. Update
4. Exit
1
1   |   Yash   |   DS   |   22   |
2   |   Krupali   |   DS   |   23   |
3   |   Aman   |   Advance Python   |   22   |
4   |   Ashish   |   AWS   |   24   |
5   |   Naman   |   Azure   |   22   |
6   |   Muskan   |   AWS   |   20   |
7   |   Priya   |   linux   |   19   |
8   |   Prabhakar   |   Python   |   20   |
9   |   nikunj   |   DS   |   22   |
10   |   Krupali   |   DS   |   23   |
11   |   priyank   |   Advance Python   |   22   |
12   |   Akshay   |   AWS   |   24   |
13   |   Nisha   |   Azure   |   22   |
14   |   Miraj   |   AWS   |   20   |
15   |   Priyanka   |   linux   |   19   |
16   |   Prisha   |   Python   |   20   |
20   |   kaival   |   ds   |   24   |

1. Select
2. Insert
3. Update
4. Exit
4

Exit...Thank You...

1. Student
2. Exit


 Choose Any Option from above -->
2

 ThankYou for using our service

In [16]:
import pymysql as sql

def connectivity():
    db = sql.connect(host="localhost",user='root',port=3306, password="", database="python_ahm")
    cursor = db.cursor()
    return db,cursor
        
def select(table_name,cursor):
    cmd = f"select * from {table_name}"
    cursor.execute(cmd)
    data = cursor.fetchall()
    for i in data:
        for j in i:
            print(j,end = "\t|\t")
        print()
            
def insert(db,cursor):
    while input("Press any key to continue --> "):
        fid = int(input("\n FID --> "))
        fees = int(input("\n Fees --> "))
        discount = float(input("\n Discount --> "))
        paid = int(input("\n Paid Amount --> "))
        cmd = f"insert into student(fid,fees,discount,paid) values({fid}, {fees}, {discount}, {paid})"
        cursor.execute(cmd)
        db.commit()
        print("\n Data Inserted Succesfully...")
            
def show_sid(cursor):
    cmd = "select sid from fees"
    cursor.execute(cmd)
    data = cursor.fetchall()
    for i in data:
        print(i[0],end = ", ")
        
def update(db,cursor):
    print("Column --> fid,sid,fees,discount,paid...")
    column_name = input("Enter Column name which you wants to update --> ")
    value = input("Enter Value to update --> ")
    show_sid(cursor)
    sid = int(input("\n Choose any id from above : "))
    if column_name == "fees": 
        cmd = f"update fees set {column_name}={value} where sid={sid}"
    else:
        cmd = f"update fees set {column_name}='{value}' where sid={sid}"
    cursor.execute(cmd)
    db.commit()
    print(f"\n Successfully Updated the column {column_name}")
    
while True:
    print("\n1. Fees \n2. Exit \n")
    ch = int(input("\n Choose Any Option from above --> \n"))
    db, cursor = connectivity()
    if ch == 1:
        print("\n WELCOME IN FEES TABLE!")
        while True:
            option = int(input("\n1. Select\n2. Insert\n3. Update\n4. Exit \n"))
            if option == 1:
                select("fees", cursor)
            elif option == 2:
                insert(db, cursor)
            elif option == 3:
                update("fees", cursor)
            elif option == 4:
                print("\nExit...Thank You...")
                db.close()
                break
    elif ch == 2:
        print("\n Thank You!!!")
        break
    else:
        print("\n Invalid Choice.....")

1. Fees
2. Exit


 Choose Any Option from above -->
1

 WELCOME IN FEES TABLE!

1. Select
2. Insert
3. Update
4. Exit
1
101	|	1	|	10000.0	|	1000.0	|	4000.0	|
102	|	2	|	12000.0	|	2500.0	|	5500.0	|
103	|	3	|	12500.0	|	1000.0	|	4500.0	|
104	|	5	|	8000.0	|	0.0	|	4000.0	|
105	|	6	|	9000.0	|	0.0	|	9000.0	|
106	|	8	|	15000.0	|	5000.0	|	10000.0	|
107	|	7	|	20000.0	|	2000.0	|	3000.0	|
108	|	9	|	13000.0	|	2000.0	|	5000.0	|
109	|	10	|	12000.0	|	1500.0	|	4200.0	|
110	|	11	|	8500.0	|	0.0	|	3000.0	|
111	|	12	|	9500.0	|	0.0	|	7000.0	|
112	|	13	|	25000.0	|	2500.0	|	3500.0	|
113	|	14	|	14000.0	|	2500.0	|	5500.0	|
114	|	15	|	12500.0	|	2000.0	|	4000.0	|
115	|	16	|	9000.0	|	1500.0	|	3500.0	|
116	|	4	|	25000.0	|	1800.0	|	3200.0	|

1. Select
2. Insert
3. Update
4. Exit
4

Exit...Thank You...

1. Fees
2. Exit


 Choose Any Option from above -->
2

 Thank You!!!

In [17]:
import pymysql as sql

def connectivity():
    db = sql.connect(host="localhost",user='root',port=3306, password="", database="python_ahm")
    cursor = db.cursor()
    return db,cursor
        
def select(table_name,cursor):
    cmd = f"select * from {table_name}"
    cursor.execute(cmd)
    data = cursor.fetchall()
    for i in data:
        for j in i:
            print(j,end = "   |   ")
        print()
            
def insert(db,cursor):
    while input("Press any key to continue --> "):
        aid = int(input("AID --> "))
        street = input("\n Street --> ")
        city = input("\n City --> ")
        state = input("\n state --> ")
        cmd = f"insert into address(aid, street,city,state) values({aid}, '{street}', '{city}','{state}')"
        cursor.execute(cmd)
        db.commit()
        print("\n Data Inserted Succesfully...")
            
def show_sid(cursor):
    cmd = "select sid from address"
    cursor.execute(cmd)
    data = cursor.fetchall()
    for i in data:
        print(i[0],end = ", ")
        
def update(db,cursor):
    print("Column --> Aid,Street,City & State...")
    column_name = input("Enter Column name which you wants to update --> ")
    value = input("Enter Value to update --> ")
    show_sid(cursor)
    sid = int(input("\n Choose any id from above : "))
    if column_name == "street": 
        cmd = f"update address set {column_name}={value} where sid={sid}"
    else:
        cmd = f"update address set {column_name}='{value}' where sid={sid}"
    cursor.execute(cmd)
    db.commit()
    print(f"\n Successfully Updated the column {column_name}")
    
while True:
    print("\n1. Address \n2. Exit \n")
    ch = int(input("\n Choose Any Option from above --> \n"))
    db, cursor = connectivity()
    if ch == 1:
        print("\n WELCOME IN ADDRESS TABLE!")
        while True:
            option = int(input("\n1. Select\n2. Insert\n3. Update\n4. Exit \n"))
            if option == 1:
                select("address", cursor)
            elif option == 2:
                insert(db, cursor)
            elif option == 3:
                update("address", cursor)
            elif option == 4:
                print("\nExit...Thank You...")
                db.close()
                break
    elif ch == 2:
        print("\n ThankYou for using our service")
        break
    else:
        print("\n Invalid Choice.....")

1. Address
2. Exit


 Choose Any Option from above -->
1

 WELCOME IN ADDRESS TABLE!

1. Select
2. Insert
3. Update
4. Exit
1
101   |   1   |   sardar soc   |   anand   |   guj   |
102   |   2   |   shreeji soc   |   nadiad   |   guj   |
103   |   3   |   priya soc   |   anand   |   guj   |
104   |   5   |   krushna soc   |   baroda   |   guj   |
105   |   6   |   pavan soc   |   vadodara   |   guj   |
106   |   8   |   kaival soc   |   ankleswar   |   guj   |
107   |   7   |   jaldarshan soc   |   bharuch   |   guj   |
108   |   9   |   laksh regency   |   bakrol   |   guj   |
109   |   10   |   suraj soc   |   anand   |   guj   |
110   |   11   |   kaival soc   |   surat   |   guj   |
111   |   12   |   jivandeep soc   |   ahm   |   guj   |
112   |   13   |   laksh residency   |   vvnagar   |   guj   |
113   |   14   |   sai vatika soc   |   anand   |   guj   |
114   |   15   |   kamsudha soc   |   baroda   |   guj   |
115   |   16   |   jivan soc   |   vastral   |   guj   |
116   |   4   |   lakdeep soc   |   vvnagar   |   guj   |

1. Select
2. Insert
3. Update
4. Exit
4

Exit...Thank You...

1. Address
2. Exit


 Choose Any Option from above -->
1

 WELCOME IN ADDRESS TABLE!

1. Select
2. Insert
3. Update
4. Exit
4

Exit...Thank You...

1. Address
2. Exit


 Choose Any Option from above -->
2

 ThankYou for using our service