#  read data from csv file and insert it into database

In [4]:
with open("employee_details.csv",'w') as f:
    header = "Name,Age,Salary"
    f.write(header)

In [5]:
with open("employee_details.csv",'a') as f:
    n = int(input("\n Enter total number of Employee : "))
    emp = ""
    for i in range(n):
        name = input(f"\n Name[{i+1}] --> ").title()
        age = int(input(f"\n Age[{i+1}] --> "))
        salary = int(input(f"\n Salary[{i+1}] --> "))
        emp += "\n" + name + "," + str(age) + "," + str(salary)
        print(emp)
    f.write(emp)

 Enter total number of Employee : 5

 Name[1] --> jay

 Age[1] --> 32

 Salary[1] --> 20000

Jay,32,20000

 Name[2] --> kishu

 Age[2] --> 34

 Salary[2] --> 25000

Jay,32,20000
Kishu,34,25000

 Name[3] --> shivam

 Age[3] --> 31

 Salary[3] --> 45000

Jay,32,20000
Kishu,34,25000
Shivam,31,45000

 Name[4] --> nikunj

 Age[4] --> 32

 Salary[4] --> 50000

Jay,32,20000
Kishu,34,25000
Shivam,31,45000
Nikunj,32,50000

 Name[5] --> priya

 Age[5] --> 35

 Salary[5] --> 65000

Jay,32,20000
Kishu,34,25000
Shivam,31,45000
Nikunj,32,50000
Priya,35,65000

In [12]:
import pymysql as sql

db = sql.connect(host="localhost",port=3306,user="root",password="",database="python_ahm")
cursor = db.cursor()
with open("employee_details.csv") as file:
    data = file.read()
    print(data)
    for i in data.split("\n")[1:]:
        details = i.split(",")
        name = details[0]
        age = int(details[1])
        salary = int(details[2])
        cmd = f"insert into student(name,age,salary) values('{name}',{age},{salary})"
        cursor.execute(cmd)
        db.commit()
        print(f"\n Save data --> {name}")

Name,Age,Salary
Jay,32,20000
Kishu,34,25000
Shivam,31,45000
Nikunj,32,50000
Priya,35,65000

OperationalError: (1054, "Unknown column 'salary' in 'field list'")