In [ ]:
import sqlalchemy
import matplotlib.pyplot as plt

In [ ]:
engine = sqlalchemy.create_engine("mysql://root@localhost:3306/work")

In [ ]:
%load_ext sql

In [ ]:
%sql mysql://root@localhost:3306/work

In [ ]:
%%timeit
%%writefile filename

In [ ]:
%sql select * from student;

In [ ]:
db = sql.connect(host="localhost", port=3306, user='root', password='', database="work")
cursor = db.cursor()

In [ ]:
while(1):
    print("\n1:-select\n2:-insert\n3:-update\n4:-query\n5:-exit")
    n=int(input("enter a choice :-"))
    if n==1:
        db = sql.connect(host="localhost", port=3306, user='root', password='', database="work")
        cursor = db.cursor()
        try:
            cursor.execute(f'select * from student')
        except Exceptiontion as error:
            print(f'\n {error}')
        else:
            data = cursor.fetchall()
            for value in data:
                print(*value, sep="\t|\t")
        db.close()
        break
    elif n==2:
        db = sql.connect(host="localhost", port=3306, user='root', password='', database="work")
        cursor = db.cursor()
        while input("\n Enter any key to continue inserting : "):
            name = input("\n Name : ")
            course = input("\n Course : ")
            age = int(input("\n Age : "))
            cmd = f"insert into student(name, course, age) values('{name}', '{course}', {age})"
            cursor.execute(cmd)
            db.commit()  # permanently save
            print("\n Data inserted successfully.....")
        db.close()
        break
    elif n==3:
        db = sql.connect(host="localhost", port=3306, user='root', password='', database="work")
        cursor = db.cursor()
        while input("\n Enter any key to continue inserting : "):
            u=input("what you upadte")
            k=input("for upadted")
            c=int(input("entere a sid"))
            cmd=f"update student set {u}='{k}' where sid={c} "
            cursor.execute(cmd) 
            db.commit()
        db.close()
        break
    elif n==4:
        db = sql.connect(host="localhost", port=3306, user='root', password='', database="work")
        cursor = db.cursor()
        q=input("enter a query")
        cursor.execute(q)
        db.commit()
    else:
        break

In [ ]:
def sel():
    ch=input("enter a tbale name")
    db = sql.connect(host="localhost", port=3306, user='root', password='', database="work")
    cursor = db.cursor()
    try:
        cursor.execute(f'select * from {ch}')
    except Exceptiontion as error:
        print(f'\n {error}')
    else:
        data = cursor.fetchall()
        for value in data:
            print(*value, sep="\t|\t")
    db.close()

In [ ]:
def ins():
        db = sql.connect(host="localhost", port=3306, user='root', password='', database="work")
        cursor = db.cursor()
        while input("\n Enter any key to continue inserting : "):
            sid = int(input("\n sid : "))
            fees = int(input("\n fees : "))
            discount = int(input("\n discount: "))
            paid = int(input("\n paid : "))
            cmd = f"insert into fees(fid, sid, fees, discount,paid) values({sid}, {fees},{discount},{paid})"
            cursor.execute(cmd)
            db.commit() 
            print("\n Data inserted successfully.....")
        db.close()

In [ ]:
ins()

In [ ]:
sel()

In [ ]:
def update():
    ch=input("enetr a table")
    db = sql.connect(host="localhost", port=3306, user='root', password='', database="work")
    cursor = db.cursor()
    while input("\n Enter any key to continue inserting : "):
        u=input("what you upadte")
        k=input("for upadted")
        c=int(input("entere a sid"))
        cmd=f"update {ch} set {u}='{k}' where sid={c} "
        cursor.execute(cmd) 
        db.commit()
    db.close()

In [ ]:
update()

In [ ]:
sel()

In [ ]:
def student():
    while(1):
        print("\n1:-select\n2:-insert\n3:-update\n4:-query\n5:-exit")
        n=int(input("enter a choice :-"))
        if n==1:
            sel()
        elif n==2:
            db = sql.connect(host="localhost", port=3306, user='root', password='', database="work")
            cursor = db.cursor()
            while input("\n Enter any key to continue inserting : "):
                name = input("\n Name : ")
                course = input("\n Course : ")
                age = int(input("\n Age : "))
                cmd = f"insert into student(name, course, age) values('{name}', '{course}', {age})"
                cursor.execute(cmd)
                db.commit()  # permanently save
                print("\n Data inserted successfully.....")
            db.close()
        elif n==3:
            update()
        elif n==4:
            db = sql.connect(host="localhost", port=3306, user='root', password='', database="work")
            cursor = db.cursor()
            cmd=input("enter a query")
            cursor.execute(cmd)
            print("\n Data  successfully.....")
        else:
            break

In [ ]:
print("welcome to my world".center(80, "*"))

while(1):
    print("\n1:-student\n2:-fees\n3:-exit")
    n=int(input("enter your choice"))
    if n==1:
        student()
    elif n==2:
        fees()
    else:
        break