In [11]:
import sqlalchemy
import matplotlib.pyplot as plt

In [12]:
engine = sqlalchemy.create_engine("mysql://root@localhost:3306/work")

In [13]:
%load_ext sql

In [14]:
%sql mysql://root@localhost:3306/work

In [15]:
%%timeit
%%writefile filename

UsageError: %%writefile is a cell magic, but the cell body is empty.

In [16]:
%sql select * from student;

 * mysql://root@localhost:3306/work
2 rows affected.

[(1, 'Surbhi', 'Python', 20), (2, 'ashish', 'ds', 21)]

In [31]:
db = sql.connect(host="localhost", port=3306, user='root', password='', database="work")
cursor = db.cursor()

In [85]:
while(1):
    print("\n1:-select\n2:-insert\n3:-update\n4:-query\n5:-exit")
    n=int(input("enter a choice :-"))
    if n==1:
        db = sql.connect(host="localhost", port=3306, user='root', password='', database="work")
        cursor = db.cursor()
        try:
            cursor.execute(f'select * from student')
        except Exceptiontion as error:
            print(f'\n {error}')
        else:
            data = cursor.fetchall()
            for value in data:
                print(*value, sep="\t|\t")
        db.close()
        break
    elif n==2:
        db = sql.connect(host="localhost", port=3306, user='root', password='', database="work")
        cursor = db.cursor()
        while input("\n Enter any key to continue inserting : "):
            name = input("\n Name : ")
            course = input("\n Course : ")
            age = int(input("\n Age : "))
            cmd = f"insert into student(name, course, age) values('{name}', '{course}', {age})"
            cursor.execute(cmd)
            db.commit()  # permanently save
            print("\n Data inserted successfully.....")
        db.close()
        break
    elif n==3:
        db = sql.connect(host="localhost", port=3306, user='root', password='', database="work")
        cursor = db.cursor()
        while input("\n Enter any key to continue inserting : "):
            u=input("what you upadte")
            k=input("for upadted")
            c=int(input("entere a sid"))
            cmd=f"update student set {u}='{k}' where sid={c} "
            cursor.execute(cmd) 
            db.commit()
        db.close()
        break
    elif n==4:
        db = sql.connect(host="localhost", port=3306, user='root', password='', database="work")
        cursor = db.cursor()
        q=input("enter a query")
        cursor.execute(q)
        db.commit()
    else:
        break

1:-select
2:-insert
3:-update
4:-query
5:-exit
enter a choice :-1
1	|	sim	|	sys	|	10
2	|	ashish	|	ds	|	21
3	|	shubham 	|	mba	|	20

In [97]:
def sel():
    ch=input("enter a tbale name")
    db = sql.connect(host="localhost", port=3306, user='root', password='', database="work")
    cursor = db.cursor()
    try:
        cursor.execute(f'select * from {ch}')
    except Exceptiontion as error:
        print(f'\n {error}')
    else:
        data = cursor.fetchall()
        for value in data:
            print(*value, sep="\t|\t")
    db.close()

In [107]:
def ins():
        db = sql.connect(host="localhost", port=3306, user='root', password='', database="work")
        cursor = db.cursor()
        while input("\n Enter any key to continue inserting : "):
            sid = int(input("\n sid : "))
            fees = int(input("\n fees : "))
            discount = int(input("\n discount: "))
            paid = int(input("\n paid : "))
            cmd = f"insert into fees(fid, sid, fees, discount,paid) values({sid}, {fees},{discount},{paid})"
            cursor.execute(cmd)
            db.commit() 
            print("\n Data inserted successfully.....")
        db.close()

In [108]:
ins()

 Enter any key to continue inserting : 2

 sid : 4

 fees : 5000

 discount: 400

 paid : 222

OperationalError: (1136, "Column count doesn't match value count at row 1")

In [99]:
sel()

enter a tbale namefees
101	|	1	|	10000.0	|	1000.0	|	4000.0
102	|	2	|	12000.0	|	2500.0	|	5500.0
103	|	3	|	12500.0	|	1000.0	|	4500.0

In [104]:
def update():
    ch=input("enetr a table")
    db = sql.connect(host="localhost", port=3306, user='root', password='', database="work")
    cursor = db.cursor()
    while input("\n Enter any key to continue inserting : "):
        u=input("what you upadte")
        k=input("for upadted")
        c=int(input("entere a sid"))
        cmd=f"update {ch} set {u}='{k}' where sid={c} "
        cursor.execute(cmd) 
        db.commit()
    db.close()

In [105]:
update()

enetr a tablefees

 Enter any key to continue inserting : 1
what you upadtefees
for upadted500
entere a sid2

 Enter any key to continue inserting :

In [106]:
sel()

enter a tbale namefees
101	|	1	|	10000.0	|	1000.0	|	4000.0
102	|	2	|	500.0	|	2500.0	|	5500.0
103	|	3	|	12500.0	|	1000.0	|	4500.0

In [113]:
def student():
    while(1):
        print("\n1:-select\n2:-insert\n3:-update\n4:-query\n5:-exit")
        n=int(input("enter a choice :-"))
        if n==1:
            sel()
        elif n==2:
            db = sql.connect(host="localhost", port=3306, user='root', password='', database="work")
            cursor = db.cursor()
            while input("\n Enter any key to continue inserting : "):
                name = input("\n Name : ")
                course = input("\n Course : ")
                age = int(input("\n Age : "))
                cmd = f"insert into student(name, course, age) values('{name}', '{course}', {age})"
                cursor.execute(cmd)
                db.commit()  # permanently save
                print("\n Data inserted successfully.....")
            db.close()
        elif n==3:
            update()
        elif n==4:
            break
        else:
            break

In [117]:
print("welcome to my world".center(80, "*"))

while(1):
    print("\n1:-student\n2:-fees\n3:-exit")
    n=int(input("enter your choice"))
    if n==1:
        student()
    elif n==2:
        fees()
    else:
        break

******************************welcome to my world*******************************

1:-student
2:-fees
3:-exit
enter your choice3